@import '_variable.scss';
@import '_mixins.scss';
@import '_extends.scss';


.feature_blocks {
    .powerfully_blocks {
        .powerfull-box1 {
            margin-top: 80px;
            margin-bottom: 80px;
            h4 {
                font-size: 40px;
                font-weight: 700;
                color: $main-dark-color;
                margin-bottom: 25px;
            }
            p {
                color: $main-dark-color;
                font-size: 16px;
                margin-bottom: 40px;
                // letter-spacing: 2px;
                word-spacing: 1px
            }
            .btn-email {
                @include buttonSign;
                border-radius: 7px
            }
        }
        .powerfull-box2 {
            margin-top: 60px;
            .powerfull-boxes {
                margin-top: 20px;
                .mini-box {
                    margin-right: 40px;
                    i {
                        font-size: 17px;
                        font-weight: 500;
                        padding: 15px;
                        border-radius: 10px;
                        background-color: $main-light-color;
                        color: $main-green-color;
                        margin-bottom: 10px;
                    }
                    .box2-tittle {
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .box2-text {
                        font-size: 13px;
    
                    }
                }
            }
        }
    }
}

.metrics_block {
    background-color: $main-light-color;
    padding: 60px 0;
    h4 {
        font-size: 30px;
        font-weight: 700;
        color: $main-dark-color;
        margin-bottom: 13px;
    }
    .metric-text {
        font-size: 16px;
        color: $main-dark-color;
        font-weight: 400;
        margin-bottom: 35px;
    }
    .metric-boxes {
        background-color: $main-dark-color;
        width: 255px;
        height: 329px;
        border-radius: 25px;
        margin-right: 40px;
        .metric-box1 {
            padding: 25px;
            .number {
                font-size: 64px;
                font-weight: 700;
                color: $main-light-color;
            }
            .metric-texts {
                margin-top: 130px;
                .metric-tittle {
                    font-size: 17px;
                    color: $main-light-color;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
                .metric-texta {
                    color: $main-light-color;
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.quotes_block {
    background: url(../img/background-photo.png) center center/cover no-repeat;
    height: 557px;
    .quotes-section {
        position: relative;
        .qoutes-box {
            background-color: #fff;
            height: 435px;
            width: 590px;
            border-radius: 20px;
            padding: 40px;
            position: absolute;
            top: 60px;
            h4 {
                font-size: 32px;
                color: $main-dark-color;
                font-weight: 700;
            }
            .quotes-texts {
                margin-top: 140px;
                .quotes-tittle {
                    font-size: 17px;
                    color: $main-dark-color;
                    font-weight: 700;
                    margin-bottom: 8px;
                }
                .quotes-texta {
                    color: $main-dark-color;
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}