@import '_variable.scss';
@import '_mixins.scss';
@import '_extends.scss';


.hero {
    padding: 130px 0;
    // background-color: #f1f0f0;

    .hero-boxes {
        position: relative;

        .green-box {
            margin: auto;
            text-align: center;

            @media only screen and (max-width: 425px) {
                width: 100%;
            }
        }

        .hero-left {
            width: 285px;
            background-color: #fff;
            border-radius: 15px;
            padding: 24px 30px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 21%;
            left: 31%;

            @media only screen and (max-width: 2000px) {
                width: 260px;
                left: 28%;
            }

            @media only screen and (max-width: 425px) {
                width: 210px;
                padding: 24px 15px;
                left: 27%;
            }

            @media only screen and (max-width: 375px) {
                width: 205px;
            }

            h4 {
                color: $main-dark-color;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 32px;

                @media only screen and (max-width: 425px) {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }

            .left-text {

                h5 {
                    color: $main-dark-color;
                    font-size: 18px;
                    font-weight: 700;
                }
                .blur-effekt {
                    width: 156px;
                    height: 12px;
                    background-color: rgba(32, 72, 79, 0.1);
                    border-radius: 12px;
                    // margin-left: 38px;
                } 
                .blur-eff-short {
                    margin-bottom: 10px;
                    // margin-left: 38px;
                    // width: 120px;
                }

                    @media only screen and (max-width: 425px) {
                        font-size: 13px;
                    }
            }

            .left-list {

                margin-top: 38px;

                li {
                    font-size: 14px;
                    margin-bottom: 10px;

                    i {
                        width: 19px;
                        height: 19px;
                        line-height: 19px;
                        text-align: center;
                        border-radius: 100%;
                        background: #DCF2ED;
                        font-size: 11px;
                        margin-right: 12px;
                    }

                    @media only screen and (max-width: 425px) {
                        font-size: 13px;
                    }
                }

            }

            .green_blur {
                background-color: rgba(184, 228, 218, 1);
                width: 100%;
                height: 37px;
                border-radius: 9px;
                margin: 0 auto;
                margin-top: 30px;
                cursor: pointer;
            }
        }

        .product-box {
            width: 200px;
            background-color: #fff;
            border-radius: 15px;
            padding: 29px 30px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 38%;
            left: 81%;
            text-align: center;

            @media only screen and (max-width: 2000px) {
                width: 195px;
            }

            @media only screen and (max-width: 425px) {
                width: 165px;
                padding: 24px 15px;
                left: 80%;
            }

            @media only screen and (max-width: 375px) {
                width: 156px;
                left: 81%;
            }

            .pro-box {

                .name {
                    color: $main-dark-color;
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: 15px;
                    margin-bottom: 8px;
                }

                p {
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            .pro-box-end {
                margin-top: 30px;

                p {
                    margin-bottom: 10px;
                    font-size: 13px;

                    @media only screen and (max-width: 375px) {
                        font-size: 12px;
                    }
                }
            }
        }

        .updated-box {
            width: 432px;
            background-color: #fff;
            border-radius: 15px;
            padding: 28px 30px;
            position: absolute;
            transform: translate(-22%, -12%);
            top: 91%;
            left: 40%;
            text-align: center;
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 2000px) {
                left: 43%;
            }

            @media only screen and (max-width: 992px) {
                left: 50%;
            }

            @media only screen and (max-width: 425px) {
                width: 360px;
                padding: 24px 15px;
            }

            .icons {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                background-color: $main-light-color;
                line-height: 60px;
                margin-right: 18px;

                @media only screen and (max-width: 425px) {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                }

                i {
                    font-size: 25px;
                    line-height: 60px;

                    @media only screen and (max-width: 425px) {
                        font-size: 18px;
                        line-height: 45px;
                    }
                }
            }

            .project-upd {

                h2 {
                    color: $main-dark-color;
                    font-size: 24px;
                    font-weight: 700;
                    text-align: left;

                    @media only screen and (max-width: 425px) {
                        font-size: 20px;
                    }
                }

                p {
                    font-size: 15px;
                    margin-bottom: 5px;
                    text-align: left;

                    @media only screen and (max-width: 425px) {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .hero-right {
        padding-left: 35px;

        @media only screen and (max-width: 992px) {
            margin-top: 60px;
            text-align: center;
        }

        @media only screen and (max-width: 600px) {
            padding-left: 0;
        }

        p {
            color: $main-dark-color;
            font-size: 16px;
            margin-bottom: 20px;
        }

        h2 {
            color: $main-dark-color;
            font-size: 54px;
            font-weight: 700;
            margin-bottom: 28px;

            @media only screen and (max-width: 2000px) {
                font-size: 50px;
            }

            @media only screen and (max-width: 992px) {
                font-size: 42px;
            }

            @media only screen and (max-width: 768px) {
                font-size: 37px;
            }

            @media only screen and (max-width: 425px) {
                font-size: 33px;
            }
        }

        form {
            margin-top: 48px;

            @media only screen and (max-width: 992px) {
                justify-content: center;
            }

            input {
                padding: 15px 25px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                border: 1px solid #656565;
            }

            .btn-sign {
                padding: 15px 35px;
                background-color: #20484F;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                color: #fff;
                border: 1px solid #656565;
            }
        }
    }
}


.feature_blocks {
    .powerfully_blocks {
        .powerfull-box1 {
            margin-top: 80px;
            margin-bottom: 80px;
            h4 {
                font-size: 40px;
                font-weight: 700;
                color: $main-dark-color;
                margin-bottom: 25px;
                width: 60%;

                @media only screen and (max-width: 1024px) {
                    flex-direction: column;
                    width: 80%;
                }

                @media only screen and (max-width: 768px) {
                    width: 100%;
                }

                @media only screen and (max-width: 568px) {
                    text-align: center;
                }
            }
            p {
                color: $main-dark-color;
                font-size: 16px;
                margin-bottom: 40px;
                // letter-spacing: 2px;
                word-spacing: 1px
            }
            .btn-email {
                @include buttonSign;
                border-radius: 7px;
            }
        }
        .powerfull-box2 {
            margin-top: 60px;

            @media only screen and (max-width: 1024px) {
                margin-top: 0;
            }
            .powerfull-boxes {

                @media only screen and (max-width: 568px) {
                    flex-direction: column;
                    text-align: center;
                }
                margin-top: 20px;
                .mini-box {
                    margin-right: 40px;
                    i {
                        font-size: 17px;
                        font-weight: 500;
                        padding: 15px;
                        border-radius: 10px;
                        background-color: $main-light-color;
                        color: $main-green-color;
                        margin-bottom: 10px;


                        @media only screen and (max-width: 768px) {
                            margin-right: 0;
                            margin-bottom: 30px;
                            text-align: center;
                        }
                    }
                    .box2-tittle {
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .box2-text {
                        font-size: 13px;
    
                    }
                }
            }
        }

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}

.metrics_block {
    background-color: $main-light-color;
    padding: 60px 0;
    h4 {
        font-size: 30px;
        font-weight: 700;
        color: $main-dark-color;
        margin-bottom: 13px;
    }
    .metric-text {
        font-size: 16px;
        color: $main-dark-color;
        font-weight: 400;
        margin-bottom: 35px;
    }
    .metricboxes {


        @media only screen and (max-width: 1024px) {
            // width: 100%;
            flex-direction: column;
            // margin-bottom: 10px;
        }

        @media only screen and (max-width: 768px) {
            // width: 100%;
            flex-direction: column;
        }
        .metric-boxes {
            background-color: $main-dark-color;
            width: 255px;
            height: 329px;
            border-radius: 25px;
            margin-right: 40px;

            @media only screen and (max-width: 1024px) {
                width: 70%;
                margin-bottom: 10px;
            }

            @media only screen and (max-width: 768px) {
                width: 100%;

            }
   
            .metric-box1 {
                padding: 25px;
                .number {
                    font-size: 64px;
                    font-weight: 700;
                    color: $main-light-color;
                }
                .metric-texts {
                    margin-top: 130px;
                    .metric-tittle {
                        font-size: 17px;
                        color: $main-light-color;
                        font-weight: 600;
                        margin-bottom: 8px;
                    }
                    .metric-texta {
                        color: $main-light-color;
                        font-size: 13px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.quotes_block {
    background: url(../img/bg-photo.jpg) center center/cover no-repeat;
    height: 557px;
    // width: 100%;

    @media only screen and (min-width: 1024px) {
        width: 100%;
    }
    
    .quotes-section {
        position: relative;
        .qoutes-box {
            background-color: #fff;
            height: 435px;
            width: 590px;
            border-radius: 20px;
            padding: 40px;
            position: absolute;
            top: 60px;
            h4 {
                font-size: 32px;
                color: $main-dark-color;
                font-weight: 700;
            }
            .quotes-texts {
                margin-top: 140px;
                .quotes-tittle {
                    font-size: 17px;
                    color: $main-dark-color;
                    font-weight: 700;
                    margin-bottom: 8px;
                }
                .quotes-texta {
                    color: $main-dark-color;
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// .ctas_blocks {
//     .background-top {
//         background: url(../img/cta-divider.png) center center/cover no-repeat;
//     // height: 400px;
//     }
//     .background-bottom {
//         // background: url(../img/cta-bottom.png) center center/cover no-repeat;
//         // height: 400px;
//     }
   
// }



.images_blocks {

    .image-tittle {
        margin: 60px 0;
        @include Center();
        justify-content: space-between;
        text-align: start;

        @media only screen and (max-width: 992px) {
            margin-bottom: 40px;
        }

        @media only screen and (max-width: 992px) {
            flex-direction: column;
        }

        h4 {
            color: $main-dark-color;
            font-size: 40px;
            font-weight: 700;
            width: 40%;

            @media only screen and (max-width: 1024px) {
                width: 73%;
            }

            @media only screen and (max-width: 992px) {
                font-size: 30px;
                width: 100%;
                text-align: center;
            }
        }

        .btn-email {
            @include buttonSign;
            border-radius: 7px;

            @media only screen and (max-width: 992px) {
                margin-top: 25px;
            }
        }
    }

    .images {
        overflow: hidden;
        width: 100%;

        img {
            width: 100%;
        }

        .image-top1 {
            overflow: hidden;
        }

        .image-bottom3 {
            margin-top: 15px;
            column-gap: 15px;
            overflow: hidden;


            @media only screen and (max-width: 992px) {
                justify-content: center;
            }

            .images-bottom {
                width: 183px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: hidden;
            }
        }
        // .bottom-image5 {
        //     // margin-left: 40px;
        //     border-radius: 7px;
        //     width: 90%;
        // }
    }

    .block-images-text {

        .block-img-text {
            border-radius: 8px;
            padding: 60px;
            margin-bottom: 11px;
            background:#fafafa;
            

            @media only screen and (max-width: 992px) {
                margin-top: 15px;
            }

            @media only screen and (max-width: 600px) {
                padding: 32px;
            }

            .txt {
                color: $main-dark-color;
                font-size: 21px;
                padding-bottom: 44px;


                @media only screen and (max-width: 425px) {
                    font-size: 16px;
                }
            }

            .read-more{
                a {
                    text-decoration: underline;
                    color: $main-dark-color;
                }
            }
        }

        .bottom-image6 {
           
            img {
                margin-top: 45px;
                width: 100%;
            }
        }
    }
}


// .carousel {
//     .carousel-inner {
//         .qoutes-box {
//             background-color: #fff;
//             height: 435px;
//             width: 590px;
//             border-radius: 20px;
//             padding: 40px;
//             position: absolute;
//             top: 60px;
//             h4 {
//                 font-size: 32px;
//                 color: $main-dark-color;
//                 font-weight: 700;
//             }
//             .quotes-texts {
//                 margin-top: 140px;
//                 .quotes-tittle {
//                     font-size: 17px;
//                     color: $main-dark-color;
//                     font-weight: 700;
//                     margin-bottom: 8px;
//                 }
//                 .quotes-texta {
//                     color: $main-dark-color;
//                     font-size: 13px;
//                     margin-bottom: 10px;
//                 }
//             }
//         }
//     }
// }

.tabs_block {
    text-align: center;
    margin-bottom: 50px;
    h4 {
        font-size: 40px;
        font-weight: 700;
        color: $main-dark-color;
        // margin-bottom: 13px;
        margin: 40px 0 10px 0;
    }
    .tabs-text {
        margin-bottom: 20px;
        // width: 50%;
        // text-align: center;
    }
    nav {
        // height: 100vh;
        // width: 70vw;
        // min-width: 600px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around; 
        &::after {
            content: '';
            position: absolute;
            background-color: rgba(32, 72, 79, 0.2);
            width: 100%;
            height: 1px;
            bottom: -10px
        }
        a {
            position: relative;
            color: #000;
            letter-spacing: 0.5px;
            // font-size: 18px;
            // letter-spacing: 0.5px;
            padding: 0 12px;
            &::after {
                content: '';
                position: absolute;
                background-color: $main-dark-color;
                height: 2px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;
            } 
            &:hover::after {
                width: 100%;
            }
        }
             
    }
    @media only screen and (max-width: 768px) {
        width: 80%;
    }
}

.header-page_blocks {
    position: relative;
    margin-bottom: 40px;
    .header-page-image {
        margin-bottom: 30px;
        h4 {
            font-weight: 700;
            font-size: 40px;
            width: 60%;
            // z-index: -1;
            text-align: center;
            margin: 0 auto;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
        img {
            position: absolute;
            top: 63px;
            right: 420px;
            z-index: -6;

            @media (max-width: 768px) {
                // position: relative;
                top: 105px;
                right: 98px;
            }

            // @media (max-width: 568px) {
            //     position: relative;
            //     top: 0;
            //     right: 0;
            // }
        }
    }
    p {
        width: 60%;
        text-align: center;
        margin: 0 auto;


        @media (max-width: 768px) {
            width: 100%;
        }
    }
}


.teams_block {
    h4 {
        font-weight: 700;
        font-size: 40px;
        width: 60%;
        // z-index: -1;
        text-align: center;
        margin: 0 auto;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .team-info {
        width: 35%;
        text-align: center;
        margin: 0 auto;


        @media (max-width: 768px) {
            width: 100%;
        }
    }
    
    .team-cardbox {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // margin-bottom: 50px;
        // gap: 55px;
        .team-box {
            // border: 1px solid red;
            margin-top: 50px;
            h3 {
                font-weight: 800;
                font-size: 18px;
                text-align: center;
                margin-top: 10px;
            }
            .card-status {
                text-align: center;
                font-size: 14px;
                color: rgba(32, 72, 79, 1);
            }
            img {
                width: 220px;
                height: 220px;
            }
        }
    }
}

.pricing_block {
    padding-top: 50px;
    padding-bottom: 100px;
    .pricing-tittle {
        h4 {
            font-size: 35px;
            font-weight: 800;
            text-align: center;


            @media only screen and (max-width: 992px) {
                font-size: 35px;
            }

            @media only screen and (max-width: 450px) {
                font-size: 25px;
            }
        }
    }

    .pricing-box {
        border-radius: 10px;
        padding: 28px 25px;
        height: 100%;
        margin-top: 60px;
        // border: 2px solid red;
        background-color: rgba(250, 250, 250, 1);
        // transition: all 0.5s ease-in-out;
        // &:hover {
        //     transform: scale(1.1);
        //     transition: all 0.3s ease-in-out;
        // }
        h4 {
            color: $main-dark-color;
            font-size: 1em;
            font-weight: 700;
            margin-bottom: 30px;
        }

        span {
            font-weight: 900;
            font-size: 40px;
        }
        .month {
            font-size: 22px;
            color: $main-green-color;
        }
        p {
            margin-top: 20px;
            font-size: 15px;
            color: $main-dark-color;
            // text-align: justify;
        }

        .btn-email {
            @include buttonSign;
            border-radius: 7px;
            width: 100%;
            font-size: 20px;
        }

        .pricing-list {
            li {
                text-align: start;
                color: $main-dark-color;
            }
            i {
                color: $main-dark-color;
            }
        }

        // h4 {
        //     color: #B8E4DA;
        //     font-size: 18px;
        //     padding-bottom: 32px;
        // }

        span {
            // font-size: 32px;
            // color: $main-bg-color;
            // font-weight: $bold-weight;
            // padding-bottom: 16px;
            // display: inline-block;
        }

        p {
            font-size: 13px;
            // color: $main-bg-color;
            padding-bottom: 32px;
        }

        .cta-btn {
            margin-bottom: 20px;
            border-radius: 8px;

            button {
                border-radius: 8px;
                // background: $main-bg-color;
                padding: 10px 25px;
                // color: $light-color;
                width: 100%;
            }
        }

        .pricing-list {

            li {
                padding-bottom: 20px;
                font-size: 16px;
                color: #072125;

                i {
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    border-radius: 6px;
                    background-color: #DCF2ED;
                    margin-right: 10px;
                }
            }
        }
    }
}

.footer {
    background-color: $main-dark-color;
    color: #fff;
    padding: 80px 0 20px 0;
    // text-align: center;

    @media only screen and (max-width: 968px) {
        text-align: center;
    }
    
    .footer-section {
        // padding-bottom: 20px;

        .footer-left {
            .logo {
                a {
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

            .address-info {
                line-height: 40px;
                margin-top: 30px;
                color: #DCF2ED;
            }
        }

        .footer-right {
            .footer-list {

                h4 {
                    font-size: 17px;
                    font-weight: 700;
                    color: $main-light-color;
                    // letter-spacing: 1px;
                    // margin: 20px 0;
                    margin-bottom: 35px;
                    color: #fff;
                }
        
                ul {
                    margin: 0;
                    padding: 0;
        
                    li {
                        font-size: 16px;
                        // font-weight: 700;
                        // margin-bottom: 10px;
                        cursor: pointer;
                        text-align: start;
                        margin-right: 30px;
                        color: #DCF2ED;
                        padding-bottom: 12px;
                    }
                }
            }
        }

    }

    .copy {
        font-size: 14px;
        text-align: center;
        color: #DCF2ED;
    }
}