@import '_variable.scss';
@import '_mixins.scss';
@import '_extends.scss';


.feature_blocks {
    .powerfully_blocks {
        .powerfull-box1 {
            margin-top: 80px;
            margin-bottom: 80px;
            h4 {
                font-size: 40px;
                font-weight: 700;
                color: $main-dark-color;
                margin-bottom: 25px;
                width: 60%;

                @media only screen and (max-width: 1024px) {
                    flex-direction: column;
                    width: 80%;
                }

                @media only screen and (max-width: 768px) {
                    width: 100%;
                }

                @media only screen and (max-width: 568px) {
                    text-align: center;
                }
            }
            p {
                color: $main-dark-color;
                font-size: 16px;
                margin-bottom: 40px;
                // letter-spacing: 2px;
                word-spacing: 1px
            }
            .btn-email {
                @include buttonSign;
                border-radius: 7px;
            }
        }
        .powerfull-box2 {
            margin-top: 60px;

            @media only screen and (max-width: 1024px) {
                margin-top: 0;
            }
            .powerfull-boxes {

                @media only screen and (max-width: 568px) {
                    flex-direction: column;
                    text-align: center;
                }
                margin-top: 20px;
                .mini-box {
                    margin-right: 40px;
                    i {
                        font-size: 17px;
                        font-weight: 500;
                        padding: 15px;
                        border-radius: 10px;
                        background-color: $main-light-color;
                        color: $main-green-color;
                        margin-bottom: 10px;


                        @media only screen and (max-width: 768px) {
                            margin-right: 0;
                            margin-bottom: 30px;
                            text-align: center;
                        }
                    }
                    .box2-tittle {
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .box2-text {
                        font-size: 13px;
    
                    }
                }
            }
        }

        @media only screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}

.metrics_block {
    background-color: $main-light-color;
    padding: 60px 0;
    h4 {
        font-size: 30px;
        font-weight: 700;
        color: $main-dark-color;
        margin-bottom: 13px;
    }
    .metric-text {
        font-size: 16px;
        color: $main-dark-color;
        font-weight: 400;
        margin-bottom: 35px;
    }
    .metric-boxes {
        background-color: $main-dark-color;
        width: 255px;
        height: 329px;
        border-radius: 25px;
        margin-right: 40px;
        .metric-box1 {
            padding: 25px;
            .number {
                font-size: 64px;
                font-weight: 700;
                color: $main-light-color;
            }
            .metric-texts {
                margin-top: 130px;
                .metric-tittle {
                    font-size: 17px;
                    color: $main-light-color;
                    font-weight: 600;
                    margin-bottom: 8px;
                }
                .metric-texta {
                    color: $main-light-color;
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.quotes_block {
    background: url(../img/bg-photo.jpg) center center/cover no-repeat;
    height: 557px;
    // width: 100%;

    @media only screen and (min-width: 1024px) {
        width: 100%;
    }
    
    .quotes-section {
        position: relative;
        .qoutes-box {
            background-color: #fff;
            height: 435px;
            width: 590px;
            border-radius: 20px;
            padding: 40px;
            position: absolute;
            top: 60px;
            h4 {
                font-size: 32px;
                color: $main-dark-color;
                font-weight: 700;
            }
            .quotes-texts {
                margin-top: 140px;
                .quotes-tittle {
                    font-size: 17px;
                    color: $main-dark-color;
                    font-weight: 700;
                    margin-bottom: 8px;
                }
                .quotes-texta {
                    color: $main-dark-color;
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// .ctas_blocks {
//     .background-top {
//         background: url(../img/cta-divider.png) center center/cover no-repeat;
//     // height: 400px;
//     }
//     .background-bottom {
//         // background: url(../img/cta-bottom.png) center center/cover no-repeat;
//         // height: 400px;
//     }
   
// }



.images_blocks {

    .image-tittle {
        margin: 60px 0;
        @include Center();
        justify-content: space-between;
        text-align: start;

        @media only screen and (max-width: 992px) {
            margin-bottom: 40px;
        }

        @media only screen and (max-width: 992px) {
            flex-direction: column;
        }

        h4 {
            color: $main-dark-color;
            font-size: 40px;
            font-weight: 700;
            width: 40%;

            @media only screen and (max-width: 1024px) {
                width: 73%;
            }

            @media only screen and (max-width: 992px) {
                font-size: 30px;
                width: 100%;
                text-align: center;
            }
        }

        .btn-email {
            @include buttonSign;
            border-radius: 7px;

            @media only screen and (max-width: 992px) {
                margin-top: 25px;
            }
        }
    }

    .images {
        overflow: hidden;
        width: 100%;

        img {
            width: 100%;
        }

        .image-top1 {
            overflow: hidden;
        }

        .image-bottom3 {
            margin-top: 15px;
            column-gap: 15px;
            overflow: hidden;


            @media only screen and (max-width: 992px) {
                justify-content: center;
            }

            .images-bottom {
                width: 183px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: hidden;
            }
        }
        // .bottom-image5 {
        //     // margin-left: 40px;
        //     border-radius: 7px;
        //     width: 90%;
        // }
    }

    .block-images-text {

        .block-img-text {
            border-radius: 8px;
            padding: 60px;
            margin-bottom: 11px;
            background:#fafafa;
            

            @media only screen and (max-width: 992px) {
                margin-top: 15px;
            }

            @media only screen and (max-width: 600px) {
                padding: 32px;
            }

            .txt {
                color: $main-dark-color;
                font-size: 21px;
                padding-bottom: 44px;


                @media only screen and (max-width: 425px) {
                    font-size: 16px;
                }
            }

            .read-more{
                a {
                    text-decoration: underline;
                    color: $main-dark-color;
                }
            }
        }

        .bottom-image6 {
           
            img {
                margin-top: 45px;
                width: 100%;
            }
        }
    }
}


// .carousel {
//     .carousel-inner {
//         .qoutes-box {
//             background-color: #fff;
//             height: 435px;
//             width: 590px;
//             border-radius: 20px;
//             padding: 40px;
//             position: absolute;
//             top: 60px;
//             h4 {
//                 font-size: 32px;
//                 color: $main-dark-color;
//                 font-weight: 700;
//             }
//             .quotes-texts {
//                 margin-top: 140px;
//                 .quotes-tittle {
//                     font-size: 17px;
//                     color: $main-dark-color;
//                     font-weight: 700;
//                     margin-bottom: 8px;
//                 }
//                 .quotes-texta {
//                     color: $main-dark-color;
//                     font-size: 13px;
//                     margin-bottom: 10px;
//                 }
//             }
//         }
//     }
// }

.tabs_block {
    text-align: center;
    margin-bottom: 50px;
    h4 {
        font-size: 40px;
        font-weight: 700;
        color: $main-dark-color;
        // margin-bottom: 13px;
        margin: 40px 0 10px 0;
    }
    .tabs-text {
        margin-bottom: 20px;
        // width: 50%;
        // text-align: center;
    }
    nav {
        // height: 100vh;
        // width: 70vw;
        // min-width: 600px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around; 
        &::after {
            content: '';
            position: absolute;
            background-color: rgba(32, 72, 79, 0.2);
            width: 100%;
            height: 1px;
            bottom: -10px
        }
        a {
            position: relative;
            color: #000;
            letter-spacing: 0.5px;
            // font-size: 18px;
            // letter-spacing: 0.5px;
            padding: 0 12px;
            &::after {
                content: '';
                position: absolute;
                background-color: $main-dark-color;
                height: 2px;
                width: 0;
                left: 0;
                bottom: -10px;
                transition: 0.3s;
            } 
            &:hover::after {
                width: 100%;
            }
        }
             
    }
    @media only screen and (max-width: 768px) {
        width: 80%;
    }
}

.header-page_blocks {
    position: relative;
    margin-bottom: 40px;
    .header-page-image {
        margin-bottom: 30px;
        h4 {
            font-weight: 700;
            font-size: 40px;
            width: 60%;
            // z-index: -1;
            text-align: center;
            margin: 0 auto;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
        img {
            position: absolute;
            top: 63px;
            right: 420px;
            z-index: -6;

            @media (max-width: 768px) {
                // position: relative;
                top: 105px;
                right: 98px;
            }

            // @media (max-width: 568px) {
            //     position: relative;
            //     top: 0;
            //     right: 0;
            // }
        }
    }
    p {
        width: 60%;
        text-align: center;
        margin: 0 auto;


        @media (max-width: 768px) {
            width: 100%;
        }
    }
}


.teams_block {
    h4 {
        font-weight: 700;
        font-size: 40px;
        width: 60%;
        // z-index: -1;
        text-align: center;
        margin: 0 auto;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .team-info {
        width: 35%;
        text-align: center;
        margin: 0 auto;


        @media (max-width: 768px) {
            width: 100%;
        }
    }
    
    .team-cardbox {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // margin-bottom: 50px;
        // gap: 55px;
        .team-box {
            // border: 1px solid red;
            margin-top: 50px;
            h3 {
                font-weight: 800;
                font-size: 18px;
                text-align: center;
                margin-top: 10px;
            }
            .card-status {
                text-align: center;
                font-size: 14px;
                color: rgba(32, 72, 79, 1);
            }
            img {
                width: 220px;
                height: 220px;
            }
        }
    }
}